{% extends "navbar.html" %}

{% block title %}View Events{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('static/events.png'); 
            background-size: cover;
            background-position: center;
            color: #fff;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 40px;
        }

        .event-heading {
            font-family: 'Bebas Neue Pro Bold Italic', sans-serif; /* Change the font family here */
        }

        .event-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: rgba(0, 0, 0, 0.8); /* Solid black background with some transparency */
        }

        .event-table th,
        .event-table td {
            border: 1px solid #fff;
            padding: 8px;
            text-align: left;
        }

        .event-table th {
            background-color: #333;
            color: #fff;
        }

        .event-table tbody tr:nth-child(even) {
            background-color: #222;
        }

        .event-table tbody tr:hover {
            background-color: #444;
        }
        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            text-align: center;
            font-family: 'Arial', Helvetica, 'sans-serif';
            color: rgb(66, 66, 66);
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="event-heading">Pending Memberships</h1> <!-- Apply the class to change the font -->
        <table class="event-table">
            <thead>
                <tr>
                    <th>Membership ID</th>
                    <th>User ID</th>
                    <th>Club ID</th>
                    <th>Approval Status</th>
                </tr>
            </thead>
            <tbody>
                {% for membership in clubmemberships %}
                <tr>
                    <td>{{ clubmembership[1] }}</td> <!-- Membership ID -->
                    <td>{{ clubmembership[2] }}</td> <!-- User ID -->
                    <td>{{ clubmembership[3] }}</td> <!-- Club ID -->
                    <td>{{ clubmembership[4] }}</td> <!-- Approval Status -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
