{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block style %}
    <style>
        /* Add your CSS styles here */
        body {
        background-image: url('static/loginBackground.png');
        margin: 0;
        padding: 0;
        height: 100vh;
    }

    .container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 150px;
    }
        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        .register-link {
            text-align: center;
        }
        .register-link a {
            text-decoration: none;
            color: #007bff;
        }
        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(66, 66, 66);
            padding: 10px; /* Adjust padding as needed */
        }
    </style>
{% endblock %}

{% block content %}
        <div class="container">
            <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Login</h2>
            <form id="loginForm" action="/login" method="POST">
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
                {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
                {% endif %}
            </form>
            <div class="register-link">
                <a href="/register">Register</a>
            <div>
    </div>

    <!-- Circle around mouse cursor -->
    <div id="circle" class="circle"></div>
    <script>
        // JavaScript to track mouse movement and update circle position
        window.addEventListener('mousemove', function (e) {
            var circle = document.getElementById('circle');
            circle.style.top = e.clientY - (circle.offsetHeight / 2) + 'px';
            circle.style.left = e.clientX - (circle.offsetWidth / 2) + 'px';
        });
    </script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get the "About" link element
        var aboutLink = document.querySelector('a[href="#about-section"]');

        // Add click event listener to the "About" link
        aboutLink.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default behavior of the link
            var aboutSection = document.getElementById('about-section');
            aboutSection.scrollIntoView({ behavior: 'smooth' }); // Scroll to the about section smoothly
        });
    });
</script>
{% endblock %}