{% extends "navbar.html" %}

{% block title %}Users{% endblock %}

{% block style %}
    <style>
        body {
            background-image: url('static/pbg.jpg');
            background-size: cover;
            margin: 0;
            padding: 0;
        }

    footer {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(66, 66, 66);
            padding: 10px;
        }
        .container {
            width: calc(50% - 120px);
            margin: 20px; 
            padding: 20px;
            background-color: rgb(67, 211, 0);
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block; 
            vertical-align: top;
        }

        @media screen and (max-width: 768px) {
            .container {
                width: calc(100% - 40px);
            }
        }
    footer {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(66, 66, 66);
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
{% for index, user in user_list|enumerate %}
<div class="container">
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">ID: {{user[0]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Full Name: {{user[1]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Username: {{user[2]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Email: {{user[3]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Phone Number: {{user[4]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Role: {{user[5]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Account Status: {{user[6]}}</h2>
    <h2 style="font-family: 'Bebas Neue Pro Bold Italic'">Account Created: {{user[7]}}</h2>
</div>
<div class="user-button">
    <a class="button">Set as Coordinator</a>
</div>
{% endfor %}
{% endblock %}